* {
  padding: 0;
  margin: 0;
}
.try {
  border: 1px solid red;
}
.brand-name {
  font-family: cursive;
  margin-left: 1em;
  text-align: center;
}
.search-bar {
  border-radius: 5px;
}
.float-right {
  position: absolute;
  top: 30px;
  right: 10px;
}
[class*="nav-link"], .brand-name {
  color: white;
}
main, [class*="offcanvas-body"] {
  background-color: rgba(218, 218, 218, 0.307);
}
[class*="nav-link"]:hover {
  color: yellow;
}

[class*="card-body"] {
  text-align: center;
}

[class*="card-title"] {
  font-size: 20px;
}
.btn-size {
  font-size: 12px;
}

[class*="shadow"] {
  border-radius: 20px;
}
@media (max-width: 1200px) {
  [class*="card-title"] {
    font-size: 22px;
  }
  .btn-size {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
  /* [class*="navbar-nav"] {
    position: absolute;
    top: 10px;
    right: 10px;
    
  } */
      .cart {
        display: none;
      }
      .acct {
        display: none;
      }
      .product {
        display: none;
      }
  }
  @media (max-width: 576px) {
    .cart {
      display: block;
      display: flex;
      margin-left: 5px;
    }
    .acct {
      display: block;
      margin-left: 5px;
    }
    .product {
      display: block;
      margin-left: 5px;
    }
    .search-bar {
      width: 90%;
    }
    .float-right {
      position: static;
    }
    [class*="nav-link"] {
      display: flex;
    }

      /* .cart {
        padding: 1px, 10px;
      } */
  }
  #email {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  