* {
    padding: 0;
    margin: 0;
}
.try {
    border: 1px solid red;
}
header {
     background-color:rgb(32, 41, 58);
}
.banner-name {
    display: inline-block;
    font-family: cursive;
    padding: 0.5em;
    text-align: center;
}
.banner-name > h1 {
    font-weight: 900;
}
.banner-name > h3 {
    font-weight: 700;
}
nav {
    color: white;
    float: right;
    /* margin-top: 1em; */
}
.search-bar {
    border-radius: 5px;
}
input[type=search]:focus {
    border: 3px solid #555;
  }
ul li {
    padding: 20px;
}

main {
    background-color: rgba(218, 218, 218, 0.307);
}

[class*="card-body"] {
    text-align: center;
}
[class*="shadow"] {
    border-radius: 20px;
}
@media (max-width: 1200) {

}
@media (max-width: 992px) {

}
@media (max-width: 768) {

}
@media (max-width: 576) {
    
}